body,
html {
  background: linear-gradient(180deg, #ddf1eb, #f7f8f9);
  min-height: 100vh;
}
.content {
  background: transparent;
}

.input-area {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

select {
  height: 36px;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #999;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: default;
  font: 400 13.3333px Arial;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
  border-image: initial;
  outline: none;
  border-left: none;
  padding-left: 5px;
  padding-right: 0;
  cursor: pointer;
}

input {
  left: 3px;
  position: relative;
  z-index: 2;
  outline: none;
  padding: 10px;
  height: 36px;
  margin-bottom: 0;
}

h1.title {
  margin-top: 20px;
}

h2.mark {
  margin-top: 20px;
  font-size: 12px;
}

h2 a {
  color: #00d89e;
  font-size: 12px;
}

#requestTokens {
  background: #00d89e;
  width: 435px;
}

.request-tokens {
  opacity: 0.9;
  width: 435px;
  position: relative;
  z-index: 8;
}
.request-tokens:hover {
  opacity: 1;
}

.loading-container {
  background: linear-gradient(180deg, #ddf1ebe1, #f7f8f9);
}
.loading-i {
  background: #00ba83;
}

.swal2-title {
  font-size: 24px !important;
  margin-top: -40px !important;
}

.swal2-styled {
  background: #00d89e !important;
  font-size: 14px !important;
  width: 100% !important;
}

.swal2-content {
  font-size: 14px !important;
}

.swal2-icon {
  transform: scale(0.5) !important;
}

.swal2-modal {
  z-index: 3;
  background: linear-gradient(360deg, #d6f7ed, #fff) !important;
}
.swal2-success-circular-line-left {
  background: transparent !important;
}
.swal2-success-fix {
  background: transparent !important;
}

.swal2-success-circular-line-right {
  background: transparent !important;
}
